---
title: Academy Circus
timezone: America/Vancouver
collections:
  posts:
    title: Posts
    output: true
  spettacoli:
    title: Spettacoli
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    comments: false
- scope:
    path: ''
  values:
    layout: page
    show-avatar: true
url: http://bluvertigo.github.io
baseurl: ''
description: Laboratorio di Giocoleria e Trampoli promosso dal “Carnevale” di S.Eraclio
navbar-links:
  Home: index
  Foto: foto
  News: news
  Contatti: contatti
avatar: "/img/logo_sito.png"
author:
  name: Academy Circus
  email: info@academycircus.it
  facebook: academycircus
footer-links-active:
  rss: false
  facebook: true
  email: true
  twitter: false
  github: false
  linkedin: false
  stackoverflow: false
url-pretty: academycircus.it
copyright:
- Laboratorio Academy Circus promosso dall'Associazione di volontariato Carnevale
  dei Ragazzi S. Eraclio
- "<strong>Sede e Laboratorio allestimento carri:</strong>"
- Via Londra, 1 - 06034 Sant'Eraclio / Foligno (PG)
- C.F. 91000350545 - P.IVA 01824880544
google_analytics: UA-21017670-4
markdown: kramdown
highlighter: rouge
permalink: "/:year-:month-:day-:title/"
paginate: 5
paginate_path: "/news/page:num/"
kramdown:
  input: GFM
exclude:
- Gemfile
- Gemfile.lock
- LICENSE
- README.md
- CNAME
- Vagrantfile
prose:
  rooturl: _posts
  media: img
  ignore:
  - 404.html
  - LICENSE
  - feed.xml
  - _config.yml
  - "/_layouts"
  - "/_includes"
  - "/css"
  - "/img"
  - "/js"
  metadata:
    _posts:
    - name: layout
      field:
        element: hidden
        value: post
    - name: title
      field:
        element: text
        label: Post title
        placeholder: Title
        alterable: true
    - name: subtitle
      field:
        element: textarea
        label: Subtitle
        placeholder: A description of your post.
        alterable: true
    - name: date
      field:
        element: text
        label: Date
        help: Enter date of post.
        placeholder: yyyy-mm-dd
        alterable: true
    - name: published
      field:
        element: checkbox
        label: Publish
        help: Check to publish post, uncheck to hide.
gems:
- jekyll-paginate
- jekyll-redirect-from
whitelist:
- jekyll-redirect-from
