---
title: Spettacoli
layout: page
subtitle: I nostri spettacoli
category: spettacoli
---

<div class="container-fluid">
	<div class="">
	  {% for post in site.posts %}
		  {% if post.categories contains 'spettacoli' %}
<div class="card card-default">

  <a href="{{ post.url | prepend: site.baseurl }}" class="card-link">
  	{% if post.bigimg %}
    <span class="card-img">
      <img src="{{ site.baseurl }}{{ post.bigimg }}" />
    </span>
    {% endif %}
    <span class="card-body">
      <span class="h3 heading">{{ post.title }}</span>
      {% if post.subtitle %}
      <p>{{ post.subtitle }}</p>
      {% endif %}
    </span>
  </a>
</div>
		   {% endif %}
	  {% endfor %}
	</div>
</div>